#файл должен лежать в рутовой папке проекта
#ключевая директория
config.stopBubbling = true

#указывает какие аннотации нужно копировать
lombok.copyableannotations += org.springframework.beans.factory.annotation.Value
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier